body{
    background-size: cover;
}
.heading{
    width: 100%;
    font-size: 23px;
}
.copyrightfooter{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: aqua;
    text-align: center;
}
canvas{
    margin-top: 150px;
}